<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{book[1]}}</title>
    <link rel="stylesheet" href="../static/css/book-display.css">
</head>
<body>
    <div class="book">
        <div class="book-img">
            <img src="{{book[3]}}" alt="">
            <div class="buttons">
                <button>like</button>
                <a id="read-link" href="{{book[4]}}">Read</a>
                <button>
                    <?xml version="1.0" encoding="UTF-8"?>
                    <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24">
                    <path d="M5.138,22.908c-1.075-.262-1.85-1.128-2.034-2.215-.841-4.977-.92-9.444-.241-13.657,.436-2.705,2.348-4.866,4.871-5.506,1.368-.347,2.803-.525,4.265-.529,1.465,.004,2.9,.183,4.268,.529,2.523,.64,4.435,2.801,4.871,5.506h0c.679,4.213,.6,8.681-.241,13.657-.184,1.087-.963,1.937-2.034,2.215-1.071,.279-2.167-.082-2.859-.943-.664-.826-3.208-4.058-3.208-4.058-.388-.489-1.203-.489-1.591,0,0,0-2.544,3.232-3.208,4.058-.538,.668-1.534,1.266-2.859,.943ZM11.999,2c-1.377,.004-2.731,.172-4.019,.499-2.136,.542-3.757,2.385-4.13,4.696-.662,4.104-.583,8.464,.24,13.331,.14,.83,.763,1.275,1.3,1.415,.535,.139,1.3,.055,1.828-.602,.662-.823,3.203-4.051,3.203-4.051,.769-.973,2.391-.973,3.159,0,0,0,2.541,3.229,3.203,4.051,.529,.657,1.29,.742,1.828,.602,.537-.14,1.16-.584,1.3-1.415,.823-4.867,.902-9.228,.24-13.331h0c-.373-2.311-1.994-4.154-4.13-4.696-1.288-.327-2.642-.495-4.022-.499Z"/>
                    </svg>

                </button>

            </div>
        </div>
        
        <div class="book-summary">
            <h2 class="book-title">{{book[1]}}</h2><br>
            <p class="summary">{{book[2]}}</p>
        </div>
    </div>
    <div class="reviews-section">
        <h2>Review</h2>

        <div class="user">
            <img src="../static/images/User-dp/sonia.jpg" alt="">
            <span>Sonia Swargyary</span>
        </div>
        
        <p class="review">Lorem ipsum dolor sit, amet consectetur adipisicing elit. A quam temporibus, officiis architecto obcaecati, aliquid ad non tempore eaque, laboriosam odit fugiat. Dicta incidunt pariatur vitae quis, illo aliquid quae.
        Quidem sequi natus quo nesciunt eum! Doloribus sapiente, voluptates illo modi temporibus aspernatur id delectus magni quo atque cupiditate impedit laboriosam natus hic alias doloremque culpa, maxime aliquam harum tempora.
        Voluptate odio, eos, voluptas eligendi repudiandae facilis dicta libero vel facere similique excepturi, quibusdam minima unde vitae. Repudiandae, nam dolores molestiae minima aspernatur veritatis, illo error quos voluptatibus officia vero?</p>

        <div class="user">
            <img src="../static/images/User-dp/sonia.jpg" alt="">
            <span>Sonia Swargyary</span>
        </div>
        
        <p class="review">Lorem ipsum dolor sit, amet consectetur adipisicing elit. A quam temporibus, officiis architecto obcaecati, aliquid ad non tempore eaque, laboriosam odit fugiat. Dicta incidunt pariatur vitae quis, illo aliquid quae.
        Quidem sequi natus quo nesciunt eum! Doloribus sapiente, voluptates illo modi temporibus aspernatur id delectus magni quo atque cupiditate impedit laboriosam natus hic alias doloremque culpa, maxime aliquam harum tempora.
        Voluptate odio, eos, voluptas eligendi repudiandae facilis dicta libero vel facere similique excepturi, quibusdam minima unde vitae. Repudiandae, nam dolores molestiae minima aspernatur veritatis, illo error quos voluptatibus officia vero?</p>

        
    </div>
    <script src="../static/js/book-display.js"></script>
</body>
</html>